@charset "UTF-8";

// 导航色
$navigation_color : "#ffffff";

// 页面字体色
$font_essential_color:#aaaaaa;

//页面字体辅色
$font_accessory_color:#e7e7e7;



//主体宽高
$container_width:1200px;
$container_height:124px;  